:root {
  /* Criando a paleta de cores  */
  --b1: #151c48;
  --b2: #174580;
  --b3: #3b70a2;
  --b4: #00a1d7;
  --b5: #70c2e8;
  --b6: #5bb9d3;
}

body {
  background-color: var(--b6);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  background-color: var(--b5);
  border-radius: 5rem;
  width: 35%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.form-group {
  margin-bottom: 1rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-login {
  background-color: #1a73e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #0d47a1;
}

.social-login {
  text-align: center;
}

.social-login p {
  margin-bottom: 10px;
}
.txt-register {
  color: #333;
  font-size: 16px;
  text-decoration: none;
}
.txt-register a {
  cursor: pointer;
}

.btn-facebook,
.btn-google {
  display: inline-block;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn-facebook:hover {
  background-color: #1877f2;
  color: #fff;
}

.btn-google:hover {
  background-color: #ea4335;
  color: #fff;
}

.btn-facebook i,
.btn-google i {
  margin-right: 10px;
  font-size: 20px;
}
.social {
  width: 100%;
}
.logo {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 70vh;
  left: 55vw;
}
.img-header {
  width: 12rem;
}
.title-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--b1);
  position: absolute;
  right: 10rem;
  bottom: 6rem;
}
@media screen and (max-width: 576px) {
  /* Estilos para dispositivos com largura menor ou igual a 576px */
  body {
    font-size: 12px;
  }
  .social {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
  }
  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 80vh;
    left: 55vw;
  }
  .img-header {
    width: 7rem;
  }
  form {
    width: 85%;
    height: 85%;
    padding: 1rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .btn-login {
    width: 80%;
  }
  .txt-register {
    font-size: 1.2rem;
  }
  .social-login p {
    font-size: 1.2rem;
    margin-top: 5rem;
  }
  .btn-facebook,
  .btn-google {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 80vh;
    left: 55vw;
  }
  .img-header {
    width: 8rem;
  }
  form {
    width: 60%;
  }
  .txt-register {
    font-size: 1.2rem;
  }
  .social-login p {
    font-size: 1.2rem;
  }
  .btn-facebook,
  .btn-google {
    font-size: 1.2rem;
  }
}
