:root {
  /* Criando a paleta de cores  */
  --b1: #151c48;
  --b2: #174580;
  --b3: #3b70a2;
  --b4: #00a1d7;
  --b5: #70c2e8;
  --b6: #5bb9d3;
}
body {
  background-color: var(--b5);
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  background-color: var(--b6);
  border-radius: 5rem;
  width: 45%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.form-group {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 1rem;
}
label {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-register {
  background-color: #1a73e8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 3rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.btn-register:hover {
  background-color: #0d47a1;
}
.logo {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 80vh;
  left: 58vw;
}
.img-header {
  width: 8rem;
}
.title-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--b1);
  position: absolute;
  right: 10rem;
  bottom: 5rem;
}
@media screen and (max-width: 576px) {
  /* Estilos para dispositivos com largura menor ou igual a 576px */
  body {
    font-size: 12px;
  }
  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 85vh;
    left: 70vw;
  }
  .img-header {
    width: 5rem;
  }
  form {
    width: 80%;
    height: 80%;
    padding: 1rem;
    border-radius: 2rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 80vh;
    left: 65vw;
  }
  .img-header {
    width: 8rem;
  }
  form {
    width: 80%;
    height: 80%;
    padding: 1rem;
    border-radius: 2rem;
  }
  .btn-register {
    width: 65%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 80vh;
    left: 70vw;
  }
  .img-header {
    width: 7rem;
  }
  form {
    width: 80%;
    height: 70%;
    padding: 1rem;
    border-radius: 3rem;
  }

  .btn-register {
    width: 45%;
  }
}
