:root {
  /* Criando a paleta de cores  */
  --b1: #151c48;
  --b2: #174580;
  --b3: #3b70a2;
  --b4: #00a1d7;
  --b5: #70c2e8;
  --b6: #5bb9d3;
}

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: var(--b2);
  font-size: 16px;
}
.header {
  background-color: var(--b1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.title-header {
  color: #fff;
  font-family: "Sigmar", cursive;
}
.img-header {
  width: 6rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn_entry {
  display: flex;
  gap: 10px;
  text-decoration: none;
  background-color: var(--b5);
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.btn-out {
  display: flex;
  gap: 10px;
  text-decoration: none;
  background-color: var(--b5);
  width: 6rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.btn_entry h1 {
  font-size: 1rem;
}

#categories {
  appearance: menulist-button;
}
label {
  font-family: "Sigmar", cursive;
  color: #fff;
}
.title-card {
  color: var(--b1);
}
.content {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  gap: 10rem;
  padding: 10rem;
}
.top-animes {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top-animes-head {
  display: flex;
  gap: 2rem;
}
.top-animes-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.3rem;
  padding: 0.5rem;
}
.per-category {
  width: 70%;
}
.head-cards {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-direction: row;
  border-bottom: var(--b6) solid 2px;
  align-items: center;
}
.trave {
  background-color: red;
  width: 1rem;
  height: 2rem;
}
.category-title {
  font-family: "Sigmar", cursive;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}
.top-title {
  font-family: "Sigmar", cursive;
  font-size: 1rem;
  color: #fff;
}

.cards-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.img-card {
  width: 100%;
  height: 90%;
}
.card {
  display: flex;
  flex-direction: column;
  width: 22.5%;
  margin-top: 1rem;
  background-color: #fff;
}
.card:hover {
  transform: scale(1.2);
}
.card-top {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-top: 1rem;
  background-color: var(--b5);
}
.card-top:hover {
  transform: scale(1.2);
}
.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.text-pagination {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fff;
}
.btn-minus,
.btn-plus {
  background-color: transparent;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-family: "Sigmar";
}

/* Estilo para o modal de fundo */
.modal {
  margin-top: 5rem;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo para o conteúdo do modal */
.modal-content {
  background-color: var(--b5);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.add-favorite {
  width: auto;
  padding: 0.5rem 1rem;
  background-color: var(--b2);
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.add-favorite:hover {
  background-color: var(--b5);
  color: var(--b1);
}

.close-modal {
  position: absolute;
  left: 65%;
  width: 3rem;
  height: 3rem;
  color: #ec0101;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  max-height: 200px;
  overflow-y: scroll;
}
/* Mobile */
@media screen and (max-width: 576px) {
  /* Estilos para dispositivos com largura menor ou igual a 576px */
  body {
    font-size: 12px;
  }
  .close-modal {
    left: 85%;
  }
  .per-category {
    width: 100%;
  }
  .card {
    width: 100%;
  }

  .content {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;
    padding: 1rem;
  }

  .title-header {
    display: none;
  }
  .btn_entry {
    width: 2rem;
  }
  .btn_entry h1 {
    display: none;
  }
  .top-animes {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .close-modal {
    left: 85%;
  }
  .content {
    width: 100%;
    margin-top: 1rem;
    flex-direction: column;

    padding: 1rem;
  }

  .per-category {
    width: 95%;
  }
  .title-header {
    display: none;
  }
  .btn_entry {
    width: 2rem;
  }
  .btn_entry h1 {
    display: none;
  }
  .top-animes {
    display: none;
  }

  .card {
    width: 47%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
  .top-animes-cards {
    width: 100%;
  }
  .top-animes {
    width: 20%;
  }
  .per-category {
    width: 80%;
  }
  .title-header {
    display: none;
  }
  .card-top {
    width: 100%;
  }
  .card {
    width: 30%;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
  }
}
